.card{
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px aliceblue;
    padding-top: 20px;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: radial-gradient(circle, rgba(1, 1, 117, 3) ,rgba(193, 209, 243, 3), rgba(193, 209, 243, 3));
    max-width: fit-content;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.list{
    text-align: left;
    margin: 0;
    padding: 40px 40px 16px;
    box-sizing: border-box;  
}

.button{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.button a,
.button a:visited,
.button a:active{
    text-decoration: none;
    color: white;
}

.button:hover{
    background-color: rgb(179, 115, 239);
}

footer{
  background-color: #111;
  padding: 10px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.clock-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 15px 10px;
    font-size: 20px;
}

.color-picker-container{
    text-align: center;
    margin: 10px;
    
}

.inputColor{
    border : none;
}

.colorText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.count-display{
    text-align: center;
    font-size: 50px;
}

.counter-page{
    text-align: center;
}
.button2{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.button2 a,
.button2 a:visited,
.button2 a:active{
    text-decoration: none;
    color: white;
}